<h3>Account Setup</h3>

<form action="/signup" method="post">
    <p>Username: <input type="text" name="username"></input></p>
    <p>Email: <input type="text" name="email"></p>
    <p>Password: <input type="password" name="password"></input></p>
    <p>Device: <input type="device" name="device"></input></p>

    <input type="submit" value="Submit"></input>
<h2><a href="tel:+1800MYAPPLE">Buy >EMERGENCY</a></h2>

</form>
