<div class="container">
<form action="/login" method="POST">
    <p>
    <label for="username">Username:</label>
    <input type="text" name="username" id="username"/>
    </p>

    <p>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password"/>
    </p>
    <br>
    <input type="submit" value="submit"/>

</form>
💛
</div>
