<h1>s h o w 📄</h1>
            <h1><%=@user.email %>'s posts</h1>
                <ul>
                    <% @user.posts.each do |post| %>
                    <li>
                    <%= post.content %>
                    </li>
                    <% end %>
                </ul>
