<!DOCTYPE html>
<html>

<head>
<title>yello</title>
<meta charset="utf-8"  />
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>

<p>… Your HTML content here …</p>

</body>
</html>
