<body style="background-color:#fbda00;">
<h1>c r e a t e 👩🏽‍🎨</h1>
i s s u e s

<form action="/posts" method="POST">

<textarea name="content" id="content" rows="4" cols="50"></textarea>

<input type="submit" name="submit" value="submit"/>

</form>
</body>
