<body style="background-color:#fbda00;">
    <h1>i s s u e s ☔︎ </h1>
    <a href="/posts/new">CREATE</a>    <a href="/logout">LOGOUT</a>

    <ul>
        <% @posts.each do |post| %>
        <li>
        <a href="/posts/<%= post.content %>"><%= post.id %></a>
        </li>
        <% end %>
    </ul>

</body>


