<body style="background-color:#fbda00;">

<div class="container">
<h1><%= @post.content %>

<br>
    <button type="submit" name="edit">
    <a style="text-decoration:none" href="/posts/<%= @post.id %>/edit">Edit Post</a>
    </button>
<br>
    <form action="/posts/<%=@post.id%>/delete" method="POST">
    <input id="hidden" type="hidden" name="_method" value="DELETE"><input type="submit" value="Delete Post">
    </form>
</div>

<a href="https://imgur.com/JFge9XF">Mac + iPod</a>

</body>

