<!DOCTYPE html>
<html>
    <head>
            <title>yello</title>
            <link rel="stylesheet" type="text/css" href="/application.css">
    </head>

    <body>
 <%= yield %>
    </body>
</html>
